.slim {
  height: 20px !important;
}

.content-banner {
  margin: auto;
}

.btn-group {
  margin-top: 2px;
}

.app-ace-editor {
  border: 2px solid #e7e7e7;
  width: 100%;
  height: 100% !important;
}
