/* You can add global styles to this file, and also import other style files */
@import '@cds/core/global.min.css';
@import '@cds/core/styles/theme.dark.min.css';
@import '@clr/ui/clr-ui.min.css';


form {
  height: 100%;
}

clr-textarea-container {
  height: 100%;
}
.clr-textarea-wrapper {
  height: 100%;
}
.app-ace-editor {
  width: 100%;
  height: 100% !important;
}
